Repository cfouche3005/Coder-Templates: changes, and which CircleCI parameters are due for each by the changed paths.
All: ctdc-base-vanilla, ctdc-base-vsc, ctdc-base-fleet, ctdc-base-vsc-fleet, ctdc-node-vanilla, ctdc-node-vsc, ctdc-node-fleet, ctdc-node-vsc-fleet, ctdc-ccpp-vanilla, ctdc-ccpp-vsc, ctdc-ccpp-fleet, ctdc-ccpp-vsc-fleet, ctdc-php-vanilla, ctdc-php-vsc, ctdc-php-fleet, ctdc-php-vsc-fleet, ctdc-python-vanilla, ctdc-python-vsc, ctdc-python-fleet, ctdc-python-vsc-fleet, no-vsc, vsc

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-file
          mapping: |          
              docker/ctdc-base/vanilla/.* ctdc-base-vanilla true
              docker/ctdc-base/vsc/.* ctdc-base-vsc true
              docker/ctdc-base/fleet/.* ctdc-base-fleet true
              docker/ctdc-base/vsc-fleet/.* ctdc-base-vsc-fleet true
              docker/ctdc-node/vanilla/.* ctdc-node-vanilla true
              docker/ctdc-node/vsc/.* ctdc-node-vsc true
              docker/ctdc-node/fleet/.* ctdc-node-fleet true
              docker/ctdc-node/vsc-fleet/.* ctdc-node-vsc-fleet true
              docker/ctdc-ccpp/vanilla/.* ctdc-ccpp-vanilla true
              docker/ctdc-ccpp/vsc/.* ctdc-ccpp-vsc true
              docker/ctdc-ccpp/fleet/.* ctdc-ccpp-fleet true
              docker/ctdc-ccpp/vsc-fleet/.* ctdc-ccpp-vsc-fleet true
              docker/ctdc-php/vanilla/.* ctdc-php-vanilla true
              docker/ctdc-php/vsc/.* ctdc-php-vsc true
              docker/ctdc-php/fleet/.* ctdc-php-fleet true
              docker/ctdc-php/vsc-fleet/.* ctdc-php-vsc-fleet true
              docker/ctdc-python/vanilla/.* ctdc-python-vanilla true
              docker/ctdc-python/vsc/.* ctdc-python-vsc true
              docker/ctdc-python/fleet/.* ctdc-python-fleet true
              docker/ctdc-python/vsc-fleet/.* ctdc-python-vsc-fleet true
          base-revision: main
          config-path: .circleci/continue-config.yml

.circleci/continue.yml:

version: 2.1

#setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

parameters:
  ctdc-base:
    type: boolean
    default: false

workflows:
  ctdc-base-vsc-check:
   when: << pipeline.parameters.ctdc-base >>
   jobs :
    - path-filtering/filter:
        name: check-updated-file-flavour
        mapping: |
              docker/ctdc-base/no-vsc/* no-vsc true
              docker/ctdc-base/vsc/* vsc true
        base-revision: main
        config-path: .circleci/ctdc-base/ctdc-base.yml

change C-Cpp tf
  template/C-Cpp/main.tf
Due: none

Change Rest of tf
  template/Docker-Rust/main.tf
  template/NodeJS/main.tf
  template/PHP/main.tf
  template/Python/main.tf
  template/Rust/main.tf
  tools/draft/main.tf
Due: none

add Microsoft repo
  docker/ctdc-base/vsc-fleet/debian/Dockerfile
  docker/ctdc-base/vsc-fleet/fedora/Dockerfile
  docker/ctdc-base/vsc-fleet/ubuntu/Dockerfile
  docker/ctdc-base/vsc/debian/Dockerfile
  docker/ctdc-base/vsc/fedora/Dockerfile
  docker/ctdc-base/vsc/ubuntu/Dockerfile
Due: ctdc-base-vsc, ctdc-base-vsc-fleet

add php-pgsql in PHP Dockerfile
  docker/ctdc-php/fleet/debian/Dockerfile
  docker/ctdc-php/fleet/fedora/Dockerfile
  docker/ctdc-php/fleet/ubuntu/Dockerfile
  docker/ctdc-php/vanilla/debian/Dockerfile
  docker/ctdc-php/vanilla/fedora/Dockerfile
  docker/ctdc-php/vanilla/ubuntu/Dockerfile
  docker/ctdc-php/vsc-fleet/debian/Dockerfile
  docker/ctdc-php/vsc-fleet/fedora/Dockerfile
  docker/ctdc-php/vsc-fleet/ubuntu/Dockerfile
  docker/ctdc-php/vsc/debian/Dockerfile
  docker/ctdc-php/vsc/fedora/Dockerfile
  docker/ctdc-php/vsc/ubuntu/Dockerfile
Due: ctdc-php-vanilla, ctdc-php-vsc, ctdc-php-fleet, ctdc-php-vsc-fleet

add Base V2
  template/Base/main.tf
Due: none

maj all template to v2
  template/C-Cpp/main.tf
  template/NodeJS/main.tf
  template/PHP/README.md
  template/PHP/main.tf
  template/Python/main.tf
  template/Rust/main.tf
  tools/draft/main copy.tf
Due: none

add vscode-server ctdc-base
  docker/ctdc-base/fleet/debian/Dockerfile
  docker/ctdc-base/fleet/fedora/Dockerfile
  docker/ctdc-base/fleet/ubuntu/Dockerfile
  docker/ctdc-base/vanilla/debian/Dockerfile
  docker/ctdc-base/vanilla/fedora/Dockerfile
  docker/ctdc-base/vanilla/ubuntu/Dockerfile
  docker/ctdc-base/vsc-fleet/debian/Dockerfile
  docker/ctdc-base/vsc-fleet/fedora/Dockerfile
  docker/ctdc-base/vsc-fleet/ubuntu/Dockerfile
  docker/ctdc-base/vsc/debian/Dockerfile
  docker/ctdc-base/vsc/fedora/Dockerfile
  docker/ctdc-base/vsc/ubuntu/Dockerfile
  template/Base/main.tf
Due: ctdc-base-vanilla, ctdc-base-vsc, ctdc-base-fleet, ctdc-base-vsc-fleet

fix ubuntu
  docker/ctdc-base/fleet/ubuntu/Dockerfile
  docker/ctdc-base/vanilla/ubuntu/Dockerfile
  docker/ctdc-base/vsc-fleet/ubuntu/Dockerfile
  docker/ctdc-base/vsc/ubuntu/Dockerfile
Due: ctdc-base-vanilla, ctdc-base-vsc, ctdc-base-fleet, ctdc-base-vsc-fleet

build ctdc-php
  docker/ctdc-php/fleet/debian/Dockerfile
  docker/ctdc-php/fleet/fedora/Dockerfile
  docker/ctdc-php/fleet/ubuntu/Dockerfile
  docker/ctdc-php/vanilla/debian/Dockerfile
  docker/ctdc-php/vanilla/fedora/Dockerfile
  docker/ctdc-php/vanilla/ubuntu/Dockerfile
  docker/ctdc-php/vsc-fleet/debian/Dockerfile
  docker/ctdc-php/vsc-fleet/fedora/Dockerfile
  docker/ctdc-php/vsc-fleet/ubuntu/Dockerfile
  docker/ctdc-php/vsc/debian/Dockerfile
  docker/ctdc-php/vsc/fedora/Dockerfile
  docker/ctdc-php/vsc/ubuntu/Dockerfile
  template/PHP/main.tf
Due: ctdc-php-vanilla, ctdc-php-vsc, ctdc-php-fleet, ctdc-php-vsc-fleet

fix ci
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

add tailscale domain
  .circleci/config.yml
  templates/Base/main.tf
  templates/C-Cpp/main.tf
  templates/NodeJS/main.tf
  templates/PHP/main.tf
  templates/Python/main.tf
  templates/Rust/main.tf
Due: none

test new config
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

fix
  .circleci/workflows.yml
Due: none

fix
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

add ssh
  docker/base/debian/Dockerfile
  docker/base/fedora/Dockerfile
  docker/base/ubuntu/Dockerfile
Due: none

fix fedora
  docker/base/fedora/Dockerfile
Due: none

add npm for debian and ubuntu
  templates/NodeJS/build/debian.Dockerfile
  templates/NodeJS/build/ubuntu.Dockerfile
Due: none

fix pyftpdlib package
  docker/base/debian/Dockerfile
  docker/base/fedora/Dockerfile
  docker/base/ubuntu/Dockerfile
Due: none

fix pyftpdlib package for fedora only
  docker/base/debian/Dockerfile
  docker/base/ubuntu/Dockerfile
Due: none

fix for fedora (not pushed)
  templates/Base/main.tf
  templates/C-Cpp/main.tf
  templates/NodeJS/main.tf
  templates/PHP/main.tf
  templates/Python/main.tf
  templates/Rust/main.tf
Due: none

fix for fedora (pushed)
  cdt-cli.py
  templates/Base/main.tf
  templates/C-Cpp/main.tf
  templates/NodeJS/main.tf
  templates/PHP/main.tf
  templates/Python/main.tf
  templates/Rust/main.tf
Due: none

add go + updates
  cdt-cli.py
  templates/C-Cpp/main.tf
  templates/Go/build/debian.Dockerfile
  templates/Go/build/fedora.Dockerfile
  templates/Go/build/ubuntu.Dockerfile
  templates/Go/main.tf
  templates/NodeJS/main.tf
  templates/PHP/main.tf
  templates/Python/main.tf
  templates/Rust/main.tf
Due: none

Less ZSH junk
  docker/base/debian/Dockerfile
  docker/base/fedora/Dockerfile
  docker/base/ubuntu/Dockerfile
Due: none

refresh ide add
  docker/base/debian/Dockerfile
  docker/base/fedora/Dockerfile
  docker/base/ubuntu/Dockerfile
  templates/Base/main.tf
  templates/C-Cpp/main.tf
  templates/Go/main.tf
  templates/NodeJS/main.tf
  templates/PHP/main.tf
  templates/Python/main.tf
  templates/Rust/main.tf
Due: none

remove IDE install
  docker/base/debian/ide-install.sh
  docker/base/fedora/ide-install.sh
  docker/base/ubuntu/ide-install.sh
  templates/Base/build/debian.Dockerfile
  templates/Base/build/fedora.Dockerfile
  templates/Base/build/ubuntu.Dockerfile
  templates/Base/main.tf
  templates/C-Cpp/main.tf
  templates/Go/main.tf
  templates/NodeJS/main.tf
  templates/PHP/build/debian.Dockerfile
  templates/PHP/build/fedora.Dockerfile
  templates/PHP/build/ubuntu.Dockerfile
  templates/PHP/main.tf
  templates/Python/main.tf
  templates/Rust/main.tf
Due: none
